.toolbar {
  position: sticky;
  position: -webkit-sticky; /* For macOS/iOS Safari */
  top: 0; /* Sets the sticky toolbar to be on top */
  z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */
}

.menuItem {
  cursor: pointer;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 14px;
  text-decoration: underline;
}
